<h2>List Of Employees</h2>  
<table class="table">
<thead class="thead-light">
    <tr>
    <th scope="col">Sr. No.</th>
    <th scope="col">Code</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Contact No.</th>
    <th scope="col">Designation</th>
    <th scope="col">Salary</th>
    <th scope="col">Status</th>
    <th scope="col">Action</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let data of emplist; let i = index">
    <td>{{i+1}}</td>
    <td>{{data.empCode}}</td>
    <td>{{data.empName }}</td>
    <td>{{data.empEmail}}</td>
    <td>{{data.empMobile}}</td>
    <td>{{data.empDes}}</td>
    <td>{{data.empSalary}}</td>
    <td>{{data.empStatus}}</td>
    <td>
        <!-- <input type="submit" (click)='edit(i)' value="Edit" class=" btn btn-outline-primary">&nbsp;
        <input type="submit" (click)='delete(i)'  class="btn btn-outline-danger"> -->
        <button type="button" class="btn btn-outline-primary" (click)='edit(i)'><i class="fa fa-edit" aria-hidden="true"></i></button> &nbsp;
        <button type="button" class="btn btn-outline-danger" (click)='delete(i)'><i class="fa fa-trash" aria-hidden="true"></i></button>
    </td>
    </tr>
</tbody>
</table>